@import '~assets/styles/_colors.scss';
@import '~assets/styles/_mediaQueries.scss';
@import '~assets/styles/_typography.scss';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $lightBackground;
  color: white;
}

.header {
  flex-shrink: 0;
}

.content {
  height: 100%;
  @include media-breakpoint-up(md) {
    flex: 1 0 auto;
    display: flex;
  }
}

:global(body.dark) {
  .container {
    background-color: $darkBackground;
  }
}
