@import '~assets/styles/_colors.scss';
@import '~assets/styles/_typography.scss';

.container {
  font-family: $robotoBoldFontFamily;
  font-size: $bigFontSize;
  color: $lightDefaultFontColor;
  .title {
    padding: 10px 5px;
  }
  .switch {
    float: right;
  }
}

:global(body.dark) {
  .title {
    color: $darkDefaultFontColor;
  }
}
