@import '~assets/styles/_colors.scss';
@import '~assets/styles/_typography.scss';

.container {
  width: 330px;
  height: 100%;
  border-right: solid thin $lightTransparentMi;
  background-color: $lightBackground;
  color: $gray;
  padding: 10px 10px;
  position: relative;
  height: 100%;

  .title {
    font-family: $robotoBoldFontFamily;
    font-size: $bigFontSize;
    color: $lightDefaultFontColor;
    padding: 10px 5px 5px;
    border-top: solid thin $lightTransparentMi;
  }
}

.test {
  width: 100px;
  height: 100px;
  border: solid thin white;
  background-color: red;
}

:global(body.dark) {
  .container {
    border-right: solid thin $darkTransparentMi;
    background-color: $darkBackground;
  }
  .title {
    border-top: solid thin $darkTransparentMi;
    color: $darkDefaultFontColor;
  }
}
