$lightGray: #d9d8d8;

$lightBackground: white;
$lightDefaultFontColor: rgba(0, 0, 0, 0.87);
$lightGrayFontColor: gray;
$lightChangedTreeItem: #1976d2;
$lightTransparentLo: rgba(0, 0, 0, 0.26);
$lightTransparentMi: rgba(0, 0, 0, 0.12);

$darkBackground: #212121;
$darkDefaultFontColor: white;
$darkGrayFontColor: rgba(255, 255, 255, 0.7);
$darkChangedTreeItem: #d6bf78;
$darkTransparentLo: rgba(255, 255, 255, 0.26);
$darkTransparentMi: rgba(255, 255, 255, 0.12);

$buttonGreen: #00ad52;
$bluePrimary: #1976d2;
$redSecondary: rgb(220, 0, 78);
$grayLo: #333333;

:export {
  lightGray: $lightGray;

  lightBackground: $lightBackground;
  lightDefaultFontColor: $lightDefaultFontColor;
  lightGrayFontColor: $lightGrayFontColor;
  lightChangedTreeItem: $lightChangedTreeItem;
  lightTransparentLo: $lightTransparentLo;
  lightTransparentMi: $lightTransparentMi;

  darkBackground: $darkBackground;
  darkDefaultFontColor: $darkDefaultFontColor;
  darkGrayFontColor: $darkGrayFontColor;
  darkChangedTreeItem: $darkChangedTreeItem;
  darkTransparentLo: $darkTransparentLo;
  darkTransparentMi: $darkTransparentMi;

  buttonGreen: $buttonGreen;
  bluePrimary: $bluePrimary;
  redSecondary: $redSecondary;
  grayLo: $grayLo;
}
