html,
body {
  height: 100%;
  margin: 0;
}

html,
body,
p {
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  font-weight: 400;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
}

div {
  box-sizing: border-box;
}
