/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill::first-line {
  font-size: $smallerFontSize;
  text-transform: uppercase;
}

html,
body {
  height: 100%;
  margin: 0;
}

// Font definitions
html,
body,
p {
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  -webkit-font-smoothing: antialiased;
  color: $darkGray;
}

div, section {
  box-sizing: border-box;
}

h1 {
  font-family: $robotoBoldFontFamily;
  font-size: $h1FontSize;
  color: $darkGray;
  line-height: 38px;
  margin: 0;
}
