// Variable declarations

$defaultFontFamily: Roboto;
$robotoBoldFontFamily: Roboto-bold;
$defaultFontSize: 13px;
$bigFontSize: 1.2rem;
$biggerFontSize: 1.53rem;

// Exports variables to be used in JS theme definition at assets/themes.
:export {
  defaultFontFamily: $defaultFontFamily;
  robotoBoldFontFamily: $robotoBoldFontFamily;
  defaultFontSize: $defaultFontSize;
  bigFontSize: $bigFontSize;
  biggerFontSize: $biggerFontSize;
}
